<nav class="navbar navbar-dark bg-primary px-3">

  <span class="navbar-brand">🎬 CineReserve</span>

  <div>

    <!-- USER FEATURES -->
    <ng-container *ngIf="isUser()">
      <a routerLink="/home" class="btn btn-light btn-sm me-2">Home</a>
      <a routerLink="/booking" class="btn btn-light btn-sm me-2">Book</a>
      <a routerLink="/my-bookings" class="btn btn-light btn-sm me-2">My Bookings</a>
    </ng-container>

    <!-- ADMIN FEATURES -->
    <ng-container *ngIf="isAdmin()">
      <a routerLink="/home" class="btn btn-light btn-sm me-2">Home</a>
      <a routerLink="/add-movie" class="btn btn-warning btn-sm me-2">Add Movie</a>
      <a routerLink="/admin" class="btn btn-light btn-sm me-2">Dashboard</a>
    </ng-container>

    <!-- LOGOUT -->
    <button class="btn btn-danger btn-sm" (click)="logout()">
      Logout
    </button>

  </div>

</nav>